@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Fira Code", monospace;
  font-weight: 400;
  font-style: normal;
}

.fira-mono-regular-italic {
  font-family: "Fira Code", monospace;
  font-weight: 400;
  font-style: italic;
}

#root {
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

input {
  @apply outline-none;
}

form button {
  @apply hover:bg-white hover:text-gray-700 self-center;
  width: fit-content !important;
}
/* ::-webkit-scrollbar {
  display: none;
} */
